@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Tangerine:wght@400;700&family=Truculenta:opsz,wght@12..72,100..900&display=swap');

.open-menu {
    box-sizing: border-box;
    border: none;
    display: none;
    background: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    transition-duration: 0.8s;
    margin-left: 50%;
}

.close-menu {
    box-sizing: border-box;
    border: none;
    background: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    transition-duration: 0.8s;
    display: block;
    position: fixed;
    right: 15px;
    top: 15px;
}

.open-menu:hover {
    color: yellowgreen !important;
    transition-duration: 0.8s;
    cursor: pointer;
}

.close-menu:hover {
    color: yellowgreen !important;
    transition-duration: 0.8s;
    cursor: pointer;
}

.menu-oculto {
    position: fixed;
    display: none;
    flex-direction: column;
    border: 0px solid black;
    top: 0;
    width: 100vw;
    height: 100%;
    background-color: gray;
    align-items: center;
    justify-content: center;
    margin: 0;
    opacity: 0;
    transition:
        opacity 0.4s linear,
        left 0.4s linear;
    left: 0;
}

.menu-oculto-text {
    box-sizing: border-box;
    border: 0px solid black;
    text-decoration: none;
    font-size: 1.8rem;
    font-family: 
        "League Gothic", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin: 10px;
    padding: 0;
    transition-duration: 0.8s;
    color: white;
}

.menu-oculto-text:hover {
    color: yellowgreen !important;
    transition-duration: 0.8s;
    cursor: pointer;
}

#loading-text {
    box-sizing: border-box;
    border: 0px solid black;
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    font-family: 
        "League Gothic", sans-serif;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    padding: 0;
    transition-duration: 0.8s;
}

@media only screen and (max-width: 902px) {
    .open-menu {
        display: flex;
        order: 1;
        margin: 0;
    }
}