@charset "UTF-8";

/* --- DIV Iframe sem textos --- */

/* --- O TEXTO (Estilo e Fluidez) --- */
.footer-copy {
    font-family: var(--font-body);
    font-size: 0.77rem;
    color: var(--cor-contra);
    line-height: 1.6; 
    margin: 0;
    
    /* Adicionados: Sublinhado e Itálico */
    /* text-decoration: underline; */
    font-style: italic;
}

/* O toque roxo Neon (Indigo Cyber Plasma) no seu ícone */
.footer-copy .fa {
    color: var(--cor-low); 
    margin: 0 3px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.footer-copy .fa:hover {
    transform: scale(1.2);
}

.footer-copy span {
    color: var(--cor-texto);
    margin: 0 5px;
}