@charset "UTF-8";

.up-h1 {
    box-sizing: border-box;
    border: 0px solid black;
    font-size: 2.5rem;
    /* color: #7b68ee; */
    color: hsl(249, 80%, 60%);
    -webkit-text-stroke: 0.8px black;
    font-family: 
        'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    margin-top: 60px;
    margin-bottom: 30px;
    padding: 0;
}

table {
  width: 100%; /* Ocupa a largura total do contêiner */
  border-collapse: collapse; /* Colapsa as bordas das células */
  margin-bottom: 40px; /* Adiciona um espaço abaixo da tabela */
}

th {
  background-color: #f2f2f2; /* Adiciona um fundo cinza claro ao cabeçalho */
  font-weight: bold; /* Deixa o texto do cabeçalho em negrito */
}

th, td {
  border: 1px solid #ddd; /* Adiciona uma borda cinza clara às células */
  padding: 8px; /* Adiciona um espaçamento interno às células */
  text-align: left; /* Alinha o texto à esquerda por padrão */
}

.id {
    width: 10%;
}

.descricao {
    width: 70%;
}

.data {
    width: 20%;
}

.up-btn {
    box-sizing: border-box;
    color: white;
    font-family: inherit;
    font-weight: bold;
    font-size: 0.875rem;
    letter-spacing: 2px;
    width: 260px;
    height: 33px;
    border-radius: 20px;
    border: 1px solid black;
    /* background: #7b68ee; */
    background: hsl(249, 80%, 60%);
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-bottom: 50px;
    transition-duration: 0.8s;
}

.up-btn:hover {
    color: yellowgreen;
    transition-duration: 0.8s;
    border: 1px solid black;
    cursor: pointer;
}