@import url('https://fonts.googleapis.com/css2?family=Kapakana:wght@300..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

/* /assets/CSS/variables.css */

/* Identidade Visual - Iron Dark */

:root {

    /* Fonts & Tamanhos */
    --header-menu-size: 0.85rem;

    --header-font-style: Arial, sans-serif;

    --header-whats-size: 1.65rem;

    --footer-menu-size: 0.78rem;

    --footer-copy-size: 0.72rem;

    --footer-fa-size: 0.8rem;

    /* ############ */
    /* HOME CONFIGS */
    --main-h1-assinatura-size: 4.5rem;

    --main-h1-assinatura-font: "Tangerine", cursive;

    --main-h1-nicho-size: 2.8rem;

    --main-h1-nicho-font: 'Times New Roman', Times, serif; 

    --main-h2-slogan-size: 1.5rem;

    --main-h2-slogan-font: Georgia, 'Times New Roman', Times, serif;

    --main-btn-size: 0.875rem;

    --rel-fa-size: 3rem;

    --rel-especific-fa-size: 2.7rem;

    --rel-p-size: 1.1rem;

    --rel-p-font: Georgia, 'Times New Roman', Times, serif;

    --home-h1-global-size: 2.5rem;

    --home-h1-global-font: 'Times New Roman', Times, serif;

    --home-p-global-size: 1.05rem;

    --home-p-global-font: Georgia, 'Times New Roman', Times, serif;

    --home-textframe-global-size: 1rem;

    --home-textframe-global-font: Georgia, 'Times New Roman', Times, serif;

    --pol-h2-global-size: 1.8rem;

    --pol-h3-global-size: 1.4rem;

    --pol-p-global-size: 1.1rem;

    --pol-ul-global-size: 1.05rem;

    
}