@charset "UTF-8";

/* Configurações Globais */
body {
    box-sizing: border-box;
    border: 0px solid black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
}

.temporario-p-element {
    margin: 100px 100px;
}